<div class="card-item shipping-address-container">
  <div class="header-container">
    <h5 class="header">Contact information</h5>
    <p class="description">Where should we send your order confirmation?</p>
  </div>

  <form class="shipping-info-form">
    <label class="input-label">Email:</label>
    <input type="email"
           [(ngModel)]="contactInfo.email"
           name="email" placeholder="example@email.com"
           autocomplete='email' class="text-input">
  </form>
</div>
