@import '../../../../app.component.scss';
@import '../../../../pages/checkout/checkout.component.scss';

.cart-content {
  font-family: 'Roboto', sans-serif;
  .cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .cart-item {
      padding: 15px 0;
      border-bottom: 1px solid $primary_background_color;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
      .img-container {
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        img {
          width: 100%;
          position: relative;
          top: -9px;
        }
      }
      .item-content {
        display: inline-block;
        vertical-align: middle;
        color: $text_color_dark;
        .name {
          margin-bottom: 0;
        }
        .item-id {
          margin-bottom: 0;
          color: $text_color_light;
        }
        .size {
          color: $text_color_light;
          margin-bottom: 0;
        }
        .item-label {
          color: darken($text_color_light, 20%);
        }
      }
      .price-container {
        float: right;
        .content {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          .price {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #122b40;
            padding: 5px 10px;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .cart-content {
    .img-container {
      width: 80px;
      height: 80px;
    }
    .price-container {
      height: 80px;
    }
    .item-content {
      .name {
        font-size: 16px;
      }
      .item-id {
        font-size: 12px;
      }
      .size {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .cart-content {
    .img-container {
      width: 55px;
      height: 55px;
    }
    .item-content {
      .name {
        font-size: 15px;
      }
      .item-id {
        font-size: 10px;
      }
      .size {
        font-size: 10px;
      }
    }
    .price-container {
      height: 50px;
    }
  }
}
