<div class="cart-container">
  <div class="cart-content-container">
    <div class="container-fluid">
      <div class="cart-content">
        <ul class="cart-list">
          <li class="cart-item" *ngFor="let item of cart; let i = index">
            <div class="img-container">
              <img class="img-responsive" [src]="item.img" alt="">
            </div>
            <div class="item-content">
              <p class="name">{{ item.name }}</p>
              <p class="item-id"><span class="item-label">Item ID:</span> {{ item.id }}</p>
              <p class="size"><span class="item-label">Size:</span> {{ item.size }}</p>
            </div>
            <div class="price-container">
              <div class="content">
                <div class="price">
                  {{ item.price | currency : '$ ' }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
