@import '../../app.component.scss';

.navbar-container {
  font-family: $font_4;

  .nav-content {

  }

  .left-container {

    .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
      min-width: 0;
    }

    .menu-btn {
      font-size: 20px;
      color: $text_color_light;
      outline: none;
      .fa-bars {
        position: relative;
        top: -1px;
      }
    }

    .page-title {
      font-weight: 400;
      color: $text_color_dark;
    }

    .create-new-post-btn {
      background-color: transparent;
      border: none;
      color: $primary_color;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.5px;
      outline: none;

      .fa-times-circle {
        position: relative;
        top: -1px;
        font-size: 14px;
        margin-left: 6px;
      }
    }
  }

  .right-container {
    .mat-button {
      min-width: 50px;
      line-height: 1;
      padding: 10px 15px;
      font-weight: 400;
    }

    .cart-btn {
      outline: none;
      font-size: 21px;
			padding: 7px 0 !important;
			position: relative;
      top: 2px;
      color: $text_color_dark;
    }

    .cart-quantity {
      position: absolute;
      background-color: #ffffff;
      font-size: 10px;
      font-weight: 400;
      color: $primary_color;
      border: 1px solid $primary_color;
      right: 7px;
      padding: 2px;
      height: 15px;
      width: 15px;
      text-align: center;
      border-radius: 50%;
    }

    .dropdown-item {
      width: 100%;
      border: none;
      background-color: #ffffff;
      text-align: left;
      padding: 8px 10px;
      outline: none;
    }
  }
}

@media only screen and (min-width: 1101px) {
  .search-container {
    input {
      width: 210px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .search-container {
    input {
      width: 170px;
    }
  }
}


@media only screen and (min-width : 981px) {
  .left-container {
    .menu-btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 810px) {
  .notifications-container {
    display: none;
  }
}

@media only screen and (max-width: 740px) {
  .create-new-post-btn {
    .text {
      display: none;
    }

    .fa-times-circle {
      margin-left: 0 !important;
    }
  }
}

@media only screen and (min-width: 601px) {
  .menu-btn {
    margin-right: 24px;
  }

  .page-title {
    font-size: 18px;
    margin: 0 36px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .menu-btn {
    margin-right: 18px;
  }

  .page-title {
    font-size: 16px;
    margin: 0 18px 0 0;
  }

  .search-container {
    display: none;
  }

}

// Padding
@media only screen and (min-width: 981px) {
  .navbar-container {
    padding: 24px;
  }
}

@media only screen and (max-width: 980px) {
  .navbar-container {
    padding: 12px 12px 24px;
  }
}
