<div class="navbar-container">
  <div class="center-container">
    <div class="center-space-between-content">
      <div class="nav-content left-container">

        <div class="center-container">
          <div class="center-left-content">
            <button class="menu-btn" (click)="onToggleSidebar.emit()" mat-button>
              <i class="fa fa-bars"></i>
            </button>

            <button mat-button class="create-new-post-btn"
              (click)="onRemoveCategory()" *ngIf="category">
              {{ category | uppercase}}
              <i class="far fa-times-circle"></i>
            </button>

            <button mat-button class="create-new-post-btn"
              (click)="onRemoveGender()" *ngIf="gender">
              {{ gender | uppercase}}
              <i class="far fa-times-circle"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="nav-content right-container">
        <div class="center-container">
          <div class="center-left-content">
            <div class="dropdown">
              <button
                class="nav-list-btn cart-btn"
                mat-button data-toggle="dropdown">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-quantity" *ngIf="cart?.length > 0">{{ cart.length }}</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <app-nav-cart [cart]="cart"></app-nav-cart>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
