<div class="confirmation-container">

  <div class="main-header-container">
    <div class="content">
      <div class="head-content">
        <h1 class="header">Order Confirmation</h1>
      </div><!--
      --><div class="confirm-holder">
          <div class="confirm-container">
            <div class="content">
              <div class="left-container">
                <span class="title">Order Total:</span>
                <span class="total">{{ total | currency }}</span>
              </div><!--
              --><div class="right-container">
              <button mat-button class="action-btn" (click)="onPlaceOrder()" *ngIf="!orderCompleted" [disabled]="placeOrderInProgress">Place Order</button>
              <button mat-button disabled class="action-btn order-placed-btn" *ngIf="orderCompleted">Order placed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-item info-summary">
    <div class="row" *ngIf="!orderCompleted">
      <div class="col-sm-6 col-xs-12 info-item-container" *ngFor="let infoItem of completeInfo">
        <div class="header-container">
          <h5 class="header">{{ infoItem.name }}</h5>
          <a (click)="onNavToInfo(infoItem.name)" class="edit-link">Edit</a>
        </div>

        <div class="content-container">
          <ul class="info-item-list" *ngIf="infoItem.name == 'Shipping Info'">
            <li class="info-item emphasis">{{ infoItem.info.name }}</li>
            <li class="info-item">{{ infoItem.info.address1 }}</li>
            <li class="info-item" *ngIf="infoItem.info.address2">{{ infoItem.info.address2 }},</li>
            <li class="info-item">
              {{ infoItem.info.city }}, {{ infoItem.info.state}} {{ infoItem.info.zip}}
            </li>
            <li class="info-item emphasis">
              Delivery expected {{ infoItem.info.deliveryDate | date : 'MMMM d' }}
            </li>
          </ul>

          <ul class="info-item-list" *ngIf="infoItem.name == 'Payment Info'">
            <li class="info-item emphasis">{{ infoItem.info.name }}</li>
            <li class="info-item">Card ending in {{ infoItem.info.cardNum.substr(14) }}</li>
            <li class="info-item">Expires {{ infoItem.info.expiration }}</li>
            <li class="info-item">csc {{ infoItem.info.csc }}</li>
          </ul>
        </div>
      </div>
    </div>

    <app-completed-order *ngIf="orderCompleted"></app-completed-order>
  </div>

  <hr>

  <app-cart-items-confirm></app-cart-items-confirm>
</div>
