@import '../../../app.component.scss';
@import '../../../pages/checkout/checkout.component.scss';

.confirmation-container {
  .main-header-container {
    .content {
      width: 100%;
    }
    .head-content {
      .header {
        color: #4A4A4A;
        margin: 0;
        letter-spacing: 1px;
      }
    }
    .confirm-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .content {
        width: 100%;
        .left-container, .right-container {
          display: inline-block;
          width: 50%;
          vertical-align: middle;
        }
        .left-container {
          color: #4A4A4A;
          .title {
            font-weight: 300;
            margin-right: 5px;
          }
          .total {
            font-weight: 400;
          }
        }
        .right-container {
          .action-btn {
            background-color: $primary_color;
            color: #ffffff;
            font-size: 13px;
            width: 100%;
            border: 1px solid $primary_color;
          }
          .order-placed-btn {
            background-color: transparent;
            border: 1px solid $text_color_dark;
            color: $text_color_dark;
            font-size: 13px;
            width: 100%;
          }
        }
      }
    }
  }
}

.info-summary {
  .info-item-container {
    padding: 10px 25px 5px 25px;
  }
  .header-container {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dashed $primary_background_color;
    .header {
      font-size: 16px;
      display: inline-block;
      margin: 0;
      font-weight: 400;
    }
    .edit-link {
      font-size: 13px;
      color: $primary_color;
      float: right;
      cursor: pointer;
      padding: 2px;
      font-weight: 400;
    }
  }
  .content-container {
    .info-item-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .info-item {
        line-height: 1.5;
        font-weight: 300;
      }
      .emphasis {
        font-weight: 400;
        line-height: 1.8;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    .header {
      font-size: 24px;
    }
  }
  .head-content, .confirm-holder {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
  .confirm-container {
    .total {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-header-container {
    margin-bottom: 20px;
    .header {
      font-size: 19px;
      text-align: center;
    }
  }
  .confirm-container {
    margin-top: 20px;
    .left-container {
      text-align: center;
    }
    .title {
      margin-right: 5px;
    }
    .total {
      font-size: 20px;
    }
  }
  .info-summary {
    .info-item-container {
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
}

