<div class="individual-item-container">
  <div class="grid-container grid-system-1">
    <div class="left-container">
      <img [src]="item.img">
    </div>

    <div class="grid-container grid-system-2">
      <div class="middle-container">
        <h4 class="item-name">{{ item.name }}</h4>
        <p class="item-price">${{ item.price }}</p>
        <div class="choose-size-container">
          <button
            *ngFor="let sizeRef of item.sizes"
            class="size-btn"
            (click)="size = sizeRef"
            [ngClass]="{ 'active': size === sizeRef }"><span class="text">{{ sizeRef }}</span></button>
          <span class="select-a-size" [ngClass]="{ 'hidden-text': size, 'emphasis-error': noSizeErrorMsg }">Select a size</span>
          <h5 class="one-size-notice" *ngIf="!item.sizes.length">One size</h5>
        </div>
        <button
          mat-button
          (click)="addToCart()"
          [disabled]="!size"
          [ngClass]="{ 'disabled': !size }"
          class="add-to-cart-btn">ADD TO CART</button>
      </div>

      <div class="right-container">
        <div class="item-details-container">
          <h5 class="header">Item details</h5>
          <p class="details">{{ item.details }} <br> Product id: {{ item.id }}</p>
        </div>
        <hr>
        <div class="shipping-info-container">
          <h5 class="header">Shipping information</h5>
          <p class="details">Available for shipment exclusively within the U.S.</p>
        </div>
      </div>
    </div>
  </div>
</div>























<!--<div class="container-fluid individual-item-container">
  <div class="row">
    <div class="left-container col-sm-4">
      <img [src]="item.img">
    </div>

    <div class="middle-container col-sm-4">
      <h4 class="item-name">{{ item.name }}</h4>
      <p class="item-price">${{ item.price }}</p>
      <div class="choose-size-container">
        <button
          *ngFor="let sizeRef of item.sizes"
          class="size-btn"
          (click)="size = sizeRef"
          [ngClass]="{ 'active': size === sizeRef }"><span class="text">{{ sizeRef }}</span></button>
        <span [ngClass]="{ 'hidden-text': size, 'emphasis-error': noSizeErrorMsg }">Select a size</span>
        <h5 class="one-size-notice" *ngIf="!item.sizes.length">One size</h5>
      </div>
      <button
        mat-button
        (click)="addToCart()"
        [disabled]="!size"
        [ngClass]="{ 'disabled': !size }"
        class="add-to-cart-btn">ADD TO CART</button>
    </div>

    <div class="right-container col-sm-4">
      <div class="item-details-container">
        <h5 class="header">Item details</h5>
        <p class="details">{{ item.details }} <br> Product id: {{ item.id }}</p>
      </div>
      <hr>
      <div class="shipping-info-container">
        <h5 class="header">Shipping information</h5>
        <p class="details">Available for shipment exclusively within the U.S.</p>
      </div>
    </div>
  </div>
</div>-->
