@import '../../app.component.scss';

.individual-item-container {
  margin: auto;
  font-family: $font_4;

  .grid-container {
    display: grid;
    grid-gap: 24px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }

	.left-container {
		img {
      width: 100%;
    }
  }

	.middle-container {
		.item-name {
      margin: 0 0 5px 0;
    }
		.item-price {
      margin: 0 0 10px 0;
    }
		.choose-size-container {
			margin: 0 0 20px 0;
      display: inline-block;
      width: 100%;
			.size-btn {
				margin-right: 6px;
				width: 30px;
				height: 30px;
				font-size: 12px;
				background-color: transparent;
				border: 1px solid $text_color_dark;
				outline: none;
				&:hover {
          border-color: $primary_color;
          color: $primary_color;
        }
				.text {
					position: relative;
          top: 1px;
        }
      }
			.active {
        border-color: $primary_color;
        color: $primary_color;
      }
    }

		.add-to-cart-btn {
			background-color: $primary_color;
			color: #ffffff;
			border: none;
			outline: none;
			width: 100%;
    }
    .disabled {
      background-color: transparent;
      color: $text_color_light;
      border: 1px solid $text_color_light;
    }

		.add-to-favorites-link {
			color: $text_color_dark;
			text-decoration: none;
			cursor: pointer;
			&:hover {
				.solid-heart {
          display: inline-block;
        }
				.regular-heart {
          display: none;
        }
      }
			.regular-heart {
        color: $primary_color;
      }
			.solid-heart {
        color: $primary_color;
        display: none;
      }
    }
  }

	.right-container {
		.header {
			margin: 0 0 5px 0;
      font-size: 14px;
    }
		.details {
      font-size: 13px;
      &:last-child {
        margin: 0;
      }
    }
		.review-container {
			.fa {
				margin-left: 3px;
				&:first-child {
          margin: 0;
        }
      }
    }
  }
}

.constant {
  display: inline-block;
  color: $primary_color;
}

.emphasis-error {
  color: $primary_color;
}

.hidden-text {
  color: transparent;
}

.emphasis-error {
  -moz-animation-duration: 300ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: 2;
  -moz-animation-direction: alternate;

  -webkit-animation-duration: 300ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;

  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@-moz-keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    color: $text_color_dark;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: $primary_color;
  }
}


@media only screen and (min-width: 781px) {
  .grid-system-1 {
    grid-template-columns: 3fr 8fr;
  }

  .grid-system-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 992px) {
  .select-a-size {
    display: block;
  }
}

@media only screen and (max-width: 780px) {
  .item-name {
    font-size: 19px;
  }

  .select-a-size {
    display: block;
  }

  .grid-system-1 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-system-2 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 550px) {

  .grid-system-1 {
    grid-template-columns: 1fr;
  }

  .grid-system-2 {
    grid-template-columns: 1fr;
  }
}
