<div #mainAppContainer class="main-app-container">
  <ng-container>
    <mat-sidenav-container class="sidenav-page-content-container">

      <mat-sidenav #sidenav [mode]="mode" class="sidenav">
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <div class="main-content-container">
        <app-navbar (onToggleSidebar)="sidenav.toggle()"></app-navbar>
        <div class="main-content-scroll-container">
          <div class="my-card">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>

    </mat-sidenav-container>
  </ng-container>
</div>
