@import '../../app.component.scss';

.main-content-container {
  height: calc(100vh - 1px);
}

.main-content-scroll-container {
  overflow-y: scroll;
  .my-card {
    width: 100%;
    padding: 24px;
  }
}

.sidenav-page-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary_background_color;
  .sidenav {
    width: 240px;
    background-color: #ffffff;
    height: 100vh;
    -webkit-box-shadow: 3px 0px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 33px -8px rgba(0,0,0,0.1);
    padding: 24px 0 96px 0;
  }
}

.main-list-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: $font_4;

  .main-list-item {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid $primary_background_color;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: lighten($primary_background_color, 2%);
    }
    &:last-child {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 981px) {
  .main-content-container {
    padding: 0;
  }
  .main-content-scroll-container {
    padding: 0 24px 48px;
    height: calc(100% - 84px);
  }
}

@media only screen and (max-width: 980px) {
  .main-content-container {
    padding: 0;
  }
  .main-content-scroll-container {
    padding: 0 12px 24px;
    height: calc(100% - 72px);
  }
}

@media only screen and (max-width: 700px) {
  .main-content-container {
    padding: 0;
  }
  .main-content-scroll-container {
    padding: 0 0 24px;
    height: calc(100% - 72px);
  }
}
