@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700|Rubik:300,400,500,700|Varela+Round');

$primary_color: #fb461e;
$primary_background_color: #f7f7f7;
$text_color_light: #b3b3b3;
$text_color_dark: #3c3c3c;
$success_color: #25C646;
$danger_color: #ea0027;
$pending_color: #EFE934;

$primary_font: 'Roboto', sans-serif;
$sans_font: 'Rubik', sans-serif;
$font_3: 'Varela Round', sans-serif;
$font_4: 'Nunito Sans', sans-serif;

.center-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  .center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .vertical-center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .center-left-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }
  .center-left-top-content {
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }
}

.my-card {
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
  box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.1);
}

.cool-form {
  .form-label {
    font-weight: 300;
    color: $text_color_dark;
    display: block;
    margin-bottom: 4px;
  }

  .form-input {
    background-color: #ffffff;
    padding: 10px 12px;
    color: $text_color_dark;
    border-radius: 2px;
    width: 100%;
    outline: none;
    font-size: 14px;
    border: 1px solid;
    font-weight: 300;
    &::placeholder {
      color: $text_color_light;
    }
  }

  .error-container {
    color: $danger_color;
    font-size: 14px;
    font-weight: 300;
  }
}

// .scrollbar {
//   ::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
//   }
//   ::-webkit-scrollbar-button {
//     width: 0px;
//     height: 0px;
//   }
//   ::-webkit-scrollbar-thumb {
//     background: darken(#f7f7f7, 4%);
//     border: none;
//     border-radius: 50px;
//   }
//   ::-webkit-scrollbar-thumb:hover {
//     background: darken(#f7f7f7, 4%);
//   }
//   ::-webkit-scrollbar-thumb:active {
//     background: darken(#f7f7f7, 4%);
//   }
//   ::-webkit-scrollbar-track {
//     background: transparent;
//     border: 0px none #ffffff;
//     border-radius: 50px;
//   }
//   ::-webkit-scrollbar-track:hover {
//     background: transparent;
//   }
//   ::-webkit-scrollbar-track:active {
//     background: transparent;
//   }
//   ::-webkit-scrollbar-corner {
//     background: transparent;
//   }
// }

button {
  outline: none;
}

.text-input {
	border: 1px solid #d1d5da;
	outline: none;
	padding: 8px;
	border-radius: 3px;
	width: 100%;
}

.text-input::-webkit-input-placeholder {
  color: #b9b9b9;
  font-weight: 300;
}
.text-input::-moz-placeholder {
  color: #b9b9b9;
  font-weight: 300;
}
.text-input:-ms-input-placeholder {
  color: #b9b9b9;
  font-weight: 300;
}
.text-input:-moz-placeholder {
  color: #b9b9b9;
  font-weight: 300;
}


.text-input-label {
	font-weight: 400;
}

.text-input:focus {
  border-color: $text_color_dark;
}
.text-input-error {
	border-color: $danger_color !important;
}
.auth-action-btn {
	color: #ffffff;
	background-color: #f3f5f8;
}
.danger-btn {
	color: darken($danger_color, 20%);
	background-color: #f3f5f8;
}
.action-btn-available {
  background-color: $primary_color;
}

.error-container {
	border: 1px solid $danger_color;
	border-radius: 3px;
	background-color: lighten($danger_color, 45%);
	margin-bottom: 1.25em;
	padding: 5px 10px;
	max-width: 300px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
	.hidden-desktop {
    display: none !important
  }
}

@media only screen and (max-width: 767px) {
	.hidden-mobile {
    display: none !important
  }
}
