@import '../../app.component.scss';

.logo-container {
  text-align: center;
  margin-top: 24px;
  .logo {
    max-width: 140px;
    outline: none;
    cursor: pointer;
  }
}

.cart-container {
  font-family: $font_4;
  text-align: center;
}

.my-card {
  margin: 48px 0;
  padding: 24px;
  text-align: left;
}

.no-items-container {
  text-align: center;
  .header {
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .action-btn {
    color: $primary_color;
    border: 1px solid $primary_color;
    font-size: 15px;
    outline: none;
    .fa-plus {
      position: relative;
      top: -1.5px;
      margin-right: 5px;
    }
  }

  .add-more-items-btn {
    outline: none;
    .fa-plus {
      position: relative;
      top: -2px;
    }
  }
}

.cart-content-container {
  max-width: 800px;
  margin: auto;
  .header {
    margin: 0;
    font-size: 25px;
  }
  .action-btn-container {
    text-align: right;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid $text_color_light;
    .mat-button {
      color: $primary_color;
      border: 1px solid $primary_color;
      line-height: 25px !important;
      font-size: 11px;
      .fa-plus {
        margin-right: 3px;
      }
    }
  }
}

.cart-content {
  .cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .cart-item {
      padding: 15px 0;
      border-bottom: 1px solid $text_color_light;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
      .img-container {
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        img {
          width: 100%;
          position: relative;
          top: -9px;
        }
      }
      .item-content {
        display: inline-block;
        vertical-align: middle;
        color: $text_color_dark;
        .name {
          margin-bottom: 0;
          font-size: 16px;
        }
        .item-id {
          margin-bottom: 0;
          color: $text_color_light;
          font-size: 12px;
        }
        .size {
          color: $text_color_light;
          font-size: 12px;
          margin-bottom: 0;
        }
        .item-label {
          color: darken($text_color_light, 20%);
        }
        .edit-btn-container {
          .edit-btn-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            .edit-btn-item {
              color: $text_color_light;
              display: inline-block;
              font-size: 11px;
              font-weight: 300;
              margin-right: 5px;
              &:last-child {
                margin-right: 0;
              }
              .edit-btn {
                border: none;
                background-color: transparent;
                padding: 0;
                text-decoration: underline;
                outline: none;
                cursor: pointer;
              }
            }
          }
        }
      }
      .price-container {
        z-index: 1;
        height: 80px;
        float: right;
        .content {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          .price {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #122b40;
            padding: 5px 10px;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
          .quantity-container {
            text-align: center;
            cursor: default;
            .quantity-btn {
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border: 1px solid $text_color_light;
              font-size: 12px;
              background-color: #ffffff;
              outline: none;
              padding: 0px 4px;
              cursor: pointer;
              .icon {
                margin-left: 3px;
                font-size: 10px;
                position: relative;
                right: 1px;
                color: $text_color_light;
              }
            }
            .enabled {
              &:hover {
                background-color: $text_color_light;
              }
              .icon {
                color: $danger_color !important;
              }
            }
          }
        }
      }
    }
  }
}

.summary-container {
  border: 1px solid $text_color_light;
  .header-container {
    border-bottom: 1px solid $text_color_light;
    padding: 8px;
    .header {
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      color: $text_color_dark;
    }
  }
  .calculations-container {
    padding: 8px;
    .calc-table {
      width: 100%;
      .calc-row-spacing {
        padding-bottom: 10px;
      }
      .title {
        font-size: 12px;
        color: $text_color_dark;
      }
      .emphasis-title {
        font-weight:  500;
        font-size: 13px;
      }
      .amount-holder {
        text-align: right;
        font-size: 12px;
        color: $text_color_dark;
      }
    }
    hr {
      margin: 0;
    }
  }
}

.checkout-container {
  padding: 8px;
  .checkout-btn {
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    background-color: $primary_color;
    color: #ffffff;
    &:last-child {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .cart-content {
    .img-container {
      width: 80px;
      height: 80px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cart-list {
    margin-bottom: 25px !important;
  }
  .cart-content {
    .img-container {
      width: 55px;
      height: 55px;
    }
    .item-content {
      .name {
        font-size: 15px;
      }
      .item-id {
        font-size: 11px;
      }
      .size {
        font-size: 11px;
      }
    }
  }
}
