  <div class="logo-container">
    <img [routerLink]="['']" src="assets/img/logo.png" alt="White Nile Boutique" class="logo">
  </div>

  <div class="cart-container">
    <div class="my-card no-items-container" *ngIf="cart?.length === 0 || !cart">
      <h3 class="header">Your cart has no items.</h3>
      <button class="action-btn" mat-button [routerLink]="['', 'catalog']"><i class="fas fa-plus"></i> Add Items</button>
    </div>

    <div class="cart-content-container" *ngIf="cart?.length > 0">
      <div class="container-fluid my-card">
        <h3 class="header">Your Cart</h3>
        <div class="action-btn-container">
          <button
            class="action-btn add-more-items-btn"
            mat-button
            [routerLink]="['', 'catalog']"><i class="fas fa-plus"></i> Add More Items</button>
        </div>
        <div class="cart-content">
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <ul class="cart-list">
                <li class="cart-item" *ngFor="let item of cart; let i = index">
                  <div class="img-container">
                    <img class="img-responsive" [src]="item.img" alt="">
                  </div>
                  <div class="item-content">
                    <p class="name">{{ item.name }}</p>
                    <p class="item-id"><span class="item-label">Item ID:</span> {{ item.id }}</p>
                    <p class="size"><span class="item-label">Size:</span> {{ item.size }}</p>
                    <div class="edit-btn-container">
                      <ul class="edit-btn-list">
                        <!--<li class="edit-btn-item">-->
                          <!--<button class="edit-btn" (click)="onEditDetails(i)">Edit Details</button>-->
                        <!--</li>-->
                        <li class="edit-btn-item">
                          <button class="edit-btn" (click)="onRemove(i)">Remove</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="price-container">
                    <div class="content">
                      <div class="price">
                        {{ item.price | currency : '$ ' }}
                      </div>
                      <div class="quantity-container">
                        <button
                          [ngClass]="{ 'enabled': item.quantity > 1}"
                          [disabled]="item.quantity === 1"
                          class="quantity-btn minus-btn"
                          (click)="onUpdateCartItemQuantity(i, -1)">
                          <i class="icon fas fa-minus"></i>
                        </button>
                        {{ item.quantity }}
                        <button
                          [ngClass]="{ 'enabled': item.quantity < 10}"
                          [disabled]="item.quantity === 10"
                          class="quantity-btn plus-btn"
                          (click)="onUpdateCartItemQuantity(i, 1)">
                          <i class="icon fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="summary-container">
                <div class="header-container">
                  <h1 class="header">SUMMARY</h1>
                </div>

                <div class="calculations-container">
                  <div class="subtotal-container">
                    <table class="calc-table">
                      <tbody>
                        <tr>
                          <td class="title calc-row-spacing">ITEMS ({{ itemsAmount }})</td>
                          <td class="amount-holder calc-row-spacing">
                            {{ subTotal | currency : '$ ' }}</td>
                        </tr>
                        <tr>
                          <td class="title calc-row-spacing">SHIPPING</td>
                          <td class="amount-holder calc-row-spacing">
                            {{ shipping | currency : '$ ' }}</td>
                        </tr>
                        <tr>
                          <td class="title calc-row-spacing">TAX</td>
                          <td class="amount-holder calc-row-spacing">{{ tax | currency : '$ ' }}</td>
                        </tr>
                        <tr>
                          <td class="calc-row-spacing" colspan="2"><hr></td>
                        </tr>
                        <tr>
                          <td class="title total-title emphasis-title">TOTAL</td>
                          <td class="amount-holder emphasis-title">{{ total | currency : '$ ' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="checkout-container">
                  <button mat-button class="checkout-btn" (click)="onCheckoutGuest()" *ngIf="!user">CHECKOUT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
