<div class="sidebar-container">
  <div class="logo-container">
    <img [routerLink]="['']" class="logo-img" src="assets/img/logo.png" alt="classpassed">
  </div>

  <div class="link-list-container">
    <div class="filter-label-container center-container">
      <div class="center-space-between-content" (click)="showCategories = !showCategories">
        <h4 class="list-label">CATEGORIES</h4>
        <i class="fas fa-caret-up" [ngClass]="{ 'flipped': !showCategories }"></i>
      </div>
    </div>
    <div class="list-container" *ngIf="showCategories">
      <ul class="link-list">
        <li (click)="onChangeCategory(null)"
        [ngClass]="{ 'active': route.snapshot.queryParams['category']?.toLowerCase() == slugifyPipe.transform(category) }" class="link-item">All</li>
        <li *ngFor="let category of categories" class="link-item"
          (click)="onChangeCategory(category)"
          [ngClass]="{ 'active': route.snapshot.queryParams['category']?.toLowerCase() == slugifyPipe.transform(category) }">{{ category | ucwords }}</li>
      </ul>
    </div>

    <hr class="filter-separator">

    <div class="filter-label-container center-container">
      <div class="center-space-between-content" (click)="showGender = !showGender">
        <h4 class="list-label">GENDER</h4>
        <i class="fas fa-caret-up" [ngClass]="{ 'flipped': !showGender }"></i>
      </div>
    </div>
    <div class="list-container" *ngIf="showGender">
      <ul class="link-list" [ngClass]="{ 'hidden': !showGender }">
        <li (click)="onChangeGender(null)"
          [ngClass]="{ 'active': route.snapshot.queryParams['gender']?.toLowerCase() == gender }"
          class="category-item" class="link-item">All</li>
        <li *ngFor="let gender of genders"
          (click)="onChangeGender(gender)"
          [ngClass]="{ 'active': route.snapshot.queryParams['gender']?.toLowerCase() == gender }"
          class="category-item" class="link-item">{{ gender | ucwords }}</li>
      </ul>
    </div>
  </div>

  <div class="store-content-container">
    <div class="content-container" *ngIf="storeInfoService.storeInfo">
      <div class="header-container">
        <h5 class="header">Location</h5>
        <p class="meta-data">Come see us in store</p>
      </div>
      <div class="description-container">
        <pre class="description" style="cursor: pointer;" matTooltip="Click to copy"
        aria-label="Button that displays a tooltip when focused or hovered over"
        ngxClipboard [cbContent]="storeInfoService.storeInfo.address">{{ storeInfoService.storeInfo?.address }}</pre>
        <p class="description" style="cursor: pointer;" matTooltip="Click to copy"
        aria-label="Button that displays a tooltip when focused or hovered over"
        ngxClipboard [cbContent]="storeInfoService.storeInfo?.phone_number">{{ storeInfoService.storeInfo?.phone_number}}</p>
      </div>
      <a target="__blank"
        [href]="'https://www.google.com/maps/search/' + storeInfoService.storeInfo?.address">
        <i class="fas fa-map-marker"></i>
      </a>
    </div>
    <div class="content-container"  *ngIf="storeInfoService.storeInfo">
      <div class="header-container">
        <h5 class="header">Open Hours</h5>
        <p class="meta-data"></p>
      </div>
      <div class="description-container">
        <p class="description">
          {{ storeInfoService.storeInfo.days_open }}
          <br>
          {{ storeInfoService.storeInfo.hours_open }}
        </p>
      </div>
      <i class="fas fa-clock"></i>
    </div>
  </div>

  <!-- <hr class="filter-separator"> -->

  <!-- <div class="helpful-links-container">
    <div class="grid-container grid-system-1">
      <div class="left-container">
        <button [routerLink]="['', 'contact']" class="action-btn"
            matTooltip="Have a question?"
            aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="fas fa-question-circle"></i>
        </button>
      </div>
      <div class="right-container">
        <button class="action-btn"><i class="fas fa-users"></i></button>
      </div>
    </div>
  </div> -->
</div>
