@import '../../app.component.scss';

.sidebar-container {
  font-family: $font_4;

  .logo-container {
    text-align: center;
    margin-bottom: 24px;
    .logo-img {
      width: 160px;
      outline: none;
      cursor: pointer;
      padding: 6px 10px;
      &:hover {
        background-color: $primary_background_color;
      }
    }
  }

  .link-list-container {
    margin-bottom: 36px;

    .filter-label-container {
      margin-bottom: 12px;
      padding: 0px 24px;
      cursor: pointer;

      .list-label {
        margin: 0;
        font-weight: 300;
        color: $text_color_dark;
        font-size: 13px;
      }

      .fa-caret-up {
        font-size: 18px;
        color: $text_color_dark;
        padding: 4px;
      }

      .flipped {
        transform: rotate(180deg);
      }
    }

    .list-container {
      overflow: hidden;

      .hidden {
        transform: translateY(-100%);
      }

      .link-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        .link-item {
          padding: 12px 24px;
          font-size: 13px;
          font-weight: 400;
          color: $text_color_light;
          cursor: pointer;
          outline: none;
          letter-spacing: 0.5px;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
          &:hover {
            background-color: $primary_background_color;
          }
        }
        .active {
          -webkit-box-shadow: inset 3px 0px 0px 0px $primary_color;
          -moz-box-shadow: inset 3px 0px 0px 0px $primary_color;
          box-shadow: inset 3px 0px 0px 0px $primary_color;
          color: $text_color_dark;
        }
      }
    }
  }

  .store-content-container {
    margin-bottom: 36px;
    padding: 0 24px;
    .content-container {
      background-color: $primary_background_color;
      border-radius: 2px;
      padding: 16px;
      position: relative;

      &:first-child {
        margin-bottom: 12px;
      }

      .header-container {
        margin-bottom: 12px;
        .header {
          font-size: 15px;
          font-weight: 300;
          margin: 0;
          color: $text_color_dark;
          letter-spacing: 0.5px;
        }

        .meta-data {
          font-size: 12px;
          margin: 0;
          color: darken($text_color_light, 5%);
          font-weight: 300;
          letter-spacing: 0.5px;
        }
      }

      .description-container {
        .description {
          font-family: $font_4;
          font-size: 12px;
          margin: 0 0 12px 0;
          color: darken($text_color_light, 5%);
          font-weight: 300;
          line-height: 1.7;
          letter-spacing: 0.5px;
          white-space: pre-wrap;       /* Since CSS 2.1 */
          white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
          white-space: -pre-wrap;      /* Opera 4-6 */
          white-space: -o-pre-wrap;    /* Opera 7 */
          word-wrap: break-word;
          overflow: hidden;
          &:last-child {
            margin: 0;
          }
        }
      }

      .fa-map-marker, .fa-clock {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 25px;
        color: darken($primary_background_color, 8%);
      }

      .fa-map-marker:hover {
        color: $primary_color;
      }
    }
  }

  .helpful-links-container {
    .grid-container {
      display: grid;
      grid-column-gap: 12px;
      padding: 0 24px;
    }

    .grid-system-1 {
      grid-template-columns: 1fr 1fr;
    }

    .action-btn {
      width: 100%;
      font-size: 18px;
      color: darken($primary_background_color, 15%);
      background-color: $primary_background_color;
      border: none;
      outline: none;
      padding: 16px 24px;
      cursor: pointer;
      border-radius: 2px;

      &:hover {
        background-color: darken($primary_background_color, 2%);
      }
    }
  }

  .filter-separator {
    background-color: $primary_background_color;
    border: none;
    height: 1px;
    margin: 24px 0 36px 0;
  }

}
