@import '../../../app.component.scss';
@import '../../../pages/checkout/checkout.component.scss';

.shipping-address-container {
  margin-bottom: 30px !important;
  .header-container {
    margin: 0 0 10px 0;
    .header {
      font-size: 15px;
      font-weight: 400;
      margin: 0 0 4px 0;
    }
    .description {
      font-weight: 300;
      font-size: 11px;
      margin: 0;
    }
  }
  .shipping-info-form {
    .text-input {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .input-label {
      font-weight: 400;
      font-size: 13px;
    }
    .half-width-container {
      margin-bottom: 15px;
      .item-wrapper {
        display: inline-block;
        width: 50%;
        padding-right: 5px;
        &:last-child {
          padding: 0 0 0 5px;
        }
      }
    }
  }
}
