<div class="card-item shipping-address-container">
  <div class="header-container">
    <h5 class="header">Ship to:</h5>
  </div>

  <form class="shipping-info-form">
    <label class="input-label">Full name:</label>
    <input type="text"
           [(ngModel)]="shippingInfo.name"
           name="name" placeholder="Adam Matthews"
           autocomplete='name' class="text-input">
    <label class="input-label">Address 1:</label>
    <input type="text"
           [(ngModel)]="shippingInfo.address1"
           name="address1"
           placeholder="Street address, P.O. box, company name, c/o "
           autocomplete='address-line1'class="text-input">
    <label class="input-label">Address 2:</label>
    <input type="text"
           [(ngModel)]="shippingInfo.address2"
           name="address2"
           placeholder="Apartment, suite, unit, building, floor, etc. "
           autocomplete='address-line2' class="text-input">
    <label class="input-label">City:</label>
    <input type="text" name="city" [(ngModel)]="shippingInfo.city"
           autocomplete='address-level2' class="text-input">
    <div class="half-width-container">
      <div class="item-wrapper">
        <label class="input-label">State:</label>
        <input type="text" name="state" [(ngModel)]="shippingInfo.state"
           autocomplete='address-level1' class="text-input">
      </div><!--
      --><div class="item-wrapper">
        <label class="input-label">Zip code:</label>
          <input type="text" [textMask]="{ mask: zipMask, guide: false }" name="zip" [(ngModel)]="shippingInfo.zip"
          autocomplete='postal-code' class="text-input">
      </div>
    </div>
  </form>
</div>
