<div class="card-item payment-container">
  <div class="header-container">
    <h5 class="header">Payment info:</h5>
  </div>

  <form class="payment-form">
    <label class="input-label">Name on card:</label>
    <input type="text"
           name="name"
           [(ngModel)]="paymentInfo.name"
           placeholder="Adam Matthews"
           autocomplete="cc-name" class="text-input">
    <label class="input-label">Credit card number:</label>
    <input type="text"
           name="creditCardNumber"
           [textMask]="{ mask: cardMask, guide: false }"
           [(ngModel)]="paymentInfo.cardNum"
           placeholder="1234 5678 9999 1234"
           autocomplete="cc-number" class="text-input">
    <div class="half-width-container">
      <div class="item-wrapper">
        <label class="input-label">Expiration:</label>
        <input type="text"
               [textMask]="{ mask: expMask, guide: false }"
               [(ngModel)]="paymentInfo.expiration"
               name="expiration" placeholder="03/24"
               autocomplete="cc-exp" class="text-input">
      </div><!--
      --><div class="item-wrapper">
        <label class="input-label">csc:</label>
        <input type="text"
               [textMask]="{ mask: cscMask, guide: false }"
               [(ngModel)]="paymentInfo.csc"
               name="csc" placeholder="123"
               autocomplete="cc-csc" class="text-input">
      </div>
    </div>
  </form>
</div>
