@import '../../app.component.scss';

.item-card-container {
	padding: 0;
}

.grid-container {
  display: grid;
  grid-gap: 24px;
  width: 100%;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

.no-inventory-container {
  margin: auto;
  max-width: 250px;
  text-align: center;
  .header {
    margin: 0px 0 10px 0;
    color: #bfbfbf;
    font-weight: 400;
  }
  .description {
    color: $text_color_dark;
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 15px 0;
  }
  .btn {
    border: 1px solid $text_color_dark;
    font-size: 12px;
    outline: none;
  }
}

@media only screen and (min-width: 1801px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1800px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1500px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 980px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 840px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .grid-system-1 {
    grid-template-columns: 1fr 1fr;
  }
}
