<div class="inventory-container grid-container grid-system-1" *ngIf="filteredCatalog?.length > 0">
		<div *ngFor="let item of filteredCatalog"
			class="item-card-container">
			<app-catalog-item [item]="item"></app-catalog-item>
		</div>
</div>

<div *ngIf="filteredCatalog?.length == 0" class="no-inventory-container" >
  <h1 class="header">Uh oh.</h1>
  <p class="description">Unfortunately, there are no items matching your query</p>
  <button mat-button class="btn" [routerLink]="['', 'catalog']">VIEW ALL ITEMS</button>
</div>

<!--<app-spinner *ngIf="!filteredInventory"></app-spinner>-->
