/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'app/app.component.scss';

body, html {
  margin: 0;
  background-color: $primary_background_color;
}

.mat-dialog-container {
  max-width: 100vw !important;
  max-height: 90vh !important;
}

* {
  box-sizing: border-box !important;
}
