@import '../../../app.component.scss';
@import '../../../pages/checkout/checkout.component.scss';

.shipping-container {
  .shipping-address-container {
    .header-container {
      margin: 0 0 10px 0;
      .header {
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 4px 0;
      }
      .description {
        font-weight: 300;
        font-size: 11px;
        margin: 0;
      }
    }
    .shipping-info-form {
      .text-input {
        margin-bottom: 15px;
      }
      .input-label {
        font-weight: 400;
        font-size: 13px;
      }
      .half-width-container {
        .item-wrapper {
          display: inline-block;
          width: 50%;
          padding-right: 5px;
          &:last-child {
            padding: 0 0 0 5px;
          }
          .text-input {
            margin-bottom: 0;
          }
        }
      }
    }
  }


  .summary-container {
    .header {
      font-size: 15px;
      margin: 0 0 10px 0;
      font-weight: 500;
    }
    .description {
      font-size: 13px;
      font-weight: 400;
      color: #929292;
      margin: 0;
    }
    .spacer-hr {
      border-color: rgba(161, 161, 161, 0.42);
    }
    .no-space-hr {
      margin: 10px 0;
    }
    .calc-table {
      width: 100%;
      .calc-row-spacing {
        padding-bottom: 10px;
      }
      .title {
        font-size: 12px;
      }
      .amount-holder {
        text-align: right;
        font-size: 12px;
      }
      .emphasis-title {
        font-weight: 500;
        font-size: 13px;
      }
      .emphasis-amount {
        font-size: 20px;
        color: $primary_color;
      }
    }
  }
}

.shipping-info-container {

  .grid-container {
    display: grid;
    grid-gap: 6px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .grid-system-1 {
    grid-template-columns: 1fr 2fr;
  }

  .top-item {
    margin-bottom: 15px;
  }
  .img1 {
    max-width: 60px;
  }
  .img2 {
    max-width: 55px;
  }
  .header {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  .description {
    font-size: 10px;
    color: #929292;
    font-weight: 300;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .shipping-address-container {
    margin-bottom: 30px !important;
  }
}
