<div class="shipping-container">
  <div class="row">
    <div class="col-sm-7 col-xs-12">

      <app-contact-info [contactInfo]="contactInfo" *ngIf="!progress[0].complete"></app-contact-info>

      <app-shipping [shippingInfo]="shippingInfo" *ngIf="progress[0].complete && !progress[1].complete">
      </app-shipping>

      <app-payment [paymentInfo]="paymentInfo"
                   *ngIf="progress[1].complete && !progress[2].complete">
      </app-payment>

      <div class="hidden-mobile next-btn-container clearfix">
        <button mat-button *ngIf="progress[0].complete && !progress[1].complete" class="nav-btn back-btn" (click)="onBack()">
          <i class="fas fa-long-arrow-alt-left"></i> Back</button>

        <button mat-button type="submit" [disabled]="disabledButton()" [ngClass]="{ 'enabled': !disabledButton() }" class="nav-btn next-btn" (click)="onNext()">Next Step <i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </div>

    <div class="col-sm-5 col-xs-12">
      <div class="card-item summary-container">
        <h1 class="header">Summary</h1>
        <p class="description">The total cost consists of the subtotal, tax, and the shipping charge.</p>
        <hr class="spacer-hr">

        <div class="calculations-container">
          <table class="calc-table">
            <tbody>
            <tr>
              <td class="title calc-row-spacing">Subtotal</td>
              <td class="amount-holder calc-row-spacing">{{ subTotal | currency : '$ ' }}</td>
            </tr>
            <tr>
              <td class="title calc-row-spacing">Shipping</td>
              <td class="amount-holder calc-row-spacing">{{ shipping | currency : '$ ' }}</td>
            </tr>
            <tr>
              <td class="title calc-row-spacing">Tax</td>
              <td class="amount-holder calc-row-spacing">{{ tax | currency : '$ ' }}</td>
            </tr>
            <tr>
              <td class="calc-row-spacing" colspan="2"><hr class="spacer-hr no-space-hr"></td>
            </tr>
            <tr>
              <td class="title total-title emphasis-title">Total</td>
              <td class="amount-holder emphasis-amount">{{ total | currency : '$ ' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="hidden-desktop next-btn-container clearfix">
        <button mat-button *ngIf="progress[0].complete || progress[1].complete" class="nav-btn back-btn" (click)="onBack()">
          <i class="fas fa-long-arrow-alt-left"></i> Back</button>

        <button mat-button [disabled]="disabledButton()" [ngClass]="{ 'enabled': !disabledButton() }" class="nav-btn next-btn" (click)="onNext()">Next Step <i class="fas fa-long-arrow-alt-right"></i></button>
      </div>

      <div class="card-item shipping-info-container">
        <div class="grid-container grid-system-1 top-item">
          <div>
            <img class="img-responsive img1" src="assets/img/box.png" alt="">
          </div>
          <div>
            <h1 class="header">
              Shipping information
            </h1>
            <p class="description">
              Expect delivery within 2 weeks of purchase.
            </p>
          </div>
        </div>

        <div class="grid-container grid-system-1">
          <div>
            <img class="img-responsive img2" src="assets/img/wallet.png" alt="">
          </div>
          <div>
            <h1 class="header">
              Return policy
            </h1>
            <p class="description">
              Return your item within 1 month for a refund minus shipping costs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
