<div class="item-card">
	<div class="img-container" >
		<button class="quick-view-btn hidden-mobile" (click)="openQuickPreviewItemModal()">QUICK VIEW</button>
		<img (click)="onNavToItem()" [src]="item.img" alt="">
	</div>
	<div class="item-info-container">
		<div>
			<a (click)="onNavToItem()" class="item-info price">${{ item.price }}</a>
		</div>
		<div>
			<a (click)="onNavToItem()" class="item-info name">{{ item.name }}</a>
		</div>
	</div>
</div>
