@import '../../app.component.scss';

.logo-container {
  text-align: center;
  margin-top: 24px;
  .logo {
    max-width: 140px;
    outline: none;
    cursor: pointer;
  }
}

.nav-spacer {
  height: 56px;
}

.checkout-container {
  background-color: #F6F6F6;
  .checkout-content {
    padding: 48px 12px;
    max-width: 800px;
    margin: auto;
  }
}

button {
  outline: none;
}

.card-item {
  border-radius: 3px;
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 30px;
  color: #767676;
  &:last-child {
    margin-bottom: 0;
  }
  -webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.2);
}

.next-btn-container {
  .nav-btn {
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .back-btn {
    width: 120px;
    text-align: right;
    border: 1px solid #767676;
    color: #767676;
  }
  .next-btn {
    width: 150px;
    text-align: left;
    float: right;
    border: 1px solid lighten(#767676, 30%);
  }
  .fa-long-arrow-alt-right {
    position: relative;
    top: 8px;
    font-size: 20px;
    float: right;
  }
  .fa-long-arrow-alt-left {
    position: relative;
    top: 8px;
    font-size: 20px;
    float: left;
  }
  .enabled {
    background-color: $primary_color;
    color: #ffffff;
    border-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .nav-spacer {
    height: 56px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-spacer {
    height: 52px;
  }

  .next-btn-container {
    margin-bottom: 30px;
  }
}
