<div class="logo-container">
  <img [routerLink]="['']" src="assets/img/logo.png" alt="White Nile Boutique" class="logo">
</div>

<div class="checkout-container">
  <div class="checkout-content">
    <app-step-layout
      *ngIf="!progress[0].complete || !progress[1].complete || !progress[2].complete"
      [contactInfo]="contactInfo"
      [shippingInfo]="shippingInfo"
      [paymentInfo]="paymentInfo"
      [progress]="progress">
    </app-step-layout>

    <app-confirmation
      [contactInfo]="contactInfo"
      [shippingInfo]="shippingInfo"
      [paymentInfo]="paymentInfo"
      [progress]="progress"
      *ngIf="progress[0].complete && progress[1].complete && progress[2].complete"></app-confirmation>
  </div>
</div>
