<div class="cart-dropdown-container">
  <div class="header-container">
    <h1 class="header">
      <i class="fa fa-shopping-bag"></i>
      Shopping Cart
    </h1>
  </div>
  <div *ngIf="cart?.length > 0" class="cart-container">
    <ul class="cart-list">
      <li class="cart-item" *ngFor="let item of cart | slice:0:3">
        <div class="img-container">
          <img [src]="item.img" alt="">
        </div>
        <div class="item-content">
          <span class="name">{{ item.name }}</span>
          <span class="size">Size: {{ item.size }}</span>
        </div>
        <div class="price-container">
          <div class="content">
            {{ item.price | currency : '$ ' }}
          </div>
        </div>
      </li>

      <li class="cart-item cart-item-placeholder" *ngIf="cart?.length > 3">
        <div class="content">
          <a class="action-link" [routerLink]="['cart']">View all items in cart</a>
        </div>
      </li>
    </ul>

    <div class="total-container">
      <ul class="list header-list">
        <li class="header">Subtotal</li>
        <li class="header">Shipping</li>
        <li class="header">Tax</li>
        <li class="header">Total</li>
      </ul>
      <ul class="list amount-list">
        <li class="amount subtotal">{{ subTotal | currency : '$ ' }}</li>
        <li class="amount shipping">{{ shipping | currency : '$ ' }}</li>
        <li class="amount tax">{{ tax | currency : '$ ' }}</li>
        <li class="amount total">{{ total | currency : '$ ' }}</li>
      </ul>
    </div>

    <div class="btn-container">
      <button mat-button class="action-btn" (click)="onNavToCart()">PROCEED</button>
    </div>
  </div>

  <div class="no-items-container" *ngIf="cart?.length === 0 || !cart">
    <p class="message">You have no items in your cart.</p>
  </div>
</div>
