@import '../../../app.component.scss';

.cart-dropdown-container {
  min-width: 300px;
  padding: 10px 15px;
  .header-container {
    margin-bottom: 15px;
    .header {
      font-size: 18px;
      font-weight: 300;
      margin: 0;
    }
    .fa-shopping-bag {
      margin-right: 8px;
      color: $primary_color;
      font-size: 22px;
    }
  }
}



.cart-container {
  .cart-list {
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
    .cart-item {
      padding: 5px 0;
      border-top: 1px solid $primary_background_color;
      &:last-child {
        border-bottom: 1px solid $primary_background_color;
      }
      .img-container {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        img {
          width: 100%;
          position: relative;
          top: -9px;
        }
      }
      .item-content {
        display: inline-block;
        vertical-align: middle;
        .name {
          display: block;
          color: $text_color_dark;
        }
        .size {
          color: $text_color_light;
          font-size: 11px;
        }
      }
      .price-container {
        height: 50px;
        float: right;
        .content {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          background-color: #122b40;
          padding: 5px 10px;
          font-size: 14px;
          color: #ffffff;
          letter-spacing: 1px;
        }
      }
    }
  }
}


.total-container {
  width: 130px;
  margin: auto;
  margin-bottom: 10px;
  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    color: $text_color_light;
    .header, .amount {
      margin-bottom: 3px;
      letter-spacing: 1px;
    }
  }
  .amount-list {
    float: right;
  }
}

.btn-container {
  text-align: center;
  .action-btn {
    background-color: $primary_color;
    color: #ffffff;
    width: 140px;
    font-size: 13px;
  }
}

.cart-item-placeholder {
  height: 61px;
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    .action-link {
      color: #122b40;
    }
  }
}

.no-items-container {
  .message {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: $text_color_light;
  }
}
